.row
  .col-md-8
    %h1= @recipe.name
  .col-md-4
    .btn-group{role: "group"}
      .btn.btn-success= link_to "Edit", edit_recipe_path(@recipe)
      - if current_user == @recipe.user
        .btn.btn-danger= link_to "Delete", @recipe, method: :delete

%p.lead= @recipe.summary

%small Created by #{@recipe.user.name}

.row
  .col-md-6
    %table.table.table-striped
      %tr
        %td Style
        %td #{@recipe.style}
      %tr
        %td Batch Size
        %td #{@recipe.batch_size} gal.
      %tr
        %td Original Gravity
        %td #{format_gravity(@recipe.original_gravity)}
      - if @recipe.yeasts.first
        %tr
          %td Final Gravity
          %td #{format_gravity(@recipe.final_gravity)}
        %tr
          %td ABV
          %td #{'%.2f' % @recipe.abv} %

    %h4 Yeast
    %table.table.table-striped
      - @recipe.yeasts.each do |yeast|
        %tr
          %td= yeast.name
          %td
            #{yeast.attenuation} %

    %h4 Grains
    %table.table.table-striped
      - @recipe.grains.each do |grain|
        %tr
          %td= grain.name
          %td
            #{grain.weight} lbs.
    %h4 Hops
    %table.table.table-striped
      - @recipe.hops.each do |hop|
        %tr
          %td= hop.name
          %td
            #{hop.weight} oz.
          %td
            #{hop.boil_time} min.
    %h4 Notes
    %p #{@recipe.notes}
