%h1
  = @recipe.name

%p Style: #{@recipe.style}
%p Yeast:
- @recipe.yeasts.each do |yeast|
  %p
    = yeast.name
    = yeast.attenuation
%p Batch size: #{@recipe.batch_size} gal.
%p Summary: #{@recipe.summary}
%p Grains:
- @recipe.grains.each do |grain|
  %p
    = grain.name
    = grain.weight
%p Hops:    
- @recipe.hops.each do |hop|
  %p
    = hop.name
    = hop.weight
%p Notes: #{@recipe.notes}