%h1
  = @recipe.name

%p Style: #{@recipe.style}
%p Yeast:
%ul
  - @recipe.yeasts.each do |yeast|
    %li
      = yeast.name
      #{yeast.attenuation} %
%p Summary: #{@recipe.summary}
%p Grains:
%ul
  - @recipe.grains.each do |grain|
    %li
      = grain.name
      #{grain.weight} lbs.
%p Hops:
%ul
  - @recipe.hops.each do |hop|
    %li
      = hop.name
      = hop.weight
%p Notes: #{@recipe.notes}