%h1
  = @recipe.name
%h3
  #{@recipe.summary}
.row
  .col-md-6
    %table.table.table-striped
      %tr
        %td Style
        %td #{@recipe.style}
      %tr
        %td Batch Size
        %td #{@recipe.batch_size} gal.
      %tr
        %td Original Gravity
        %td #{'%.3f' % @recipe.original_gravity}

    %h4 Yeast
    %table.table.table-striped
      - @recipe.yeasts.each do |yeast|
        %tr
          %td= yeast.name
          %td
            #{yeast.attenuation*100} %

    %h4 Grains
    %table.table.table-striped
      - @recipe.grains.each do |grain|
        %tr
          %td= grain.name
          %td
            #{grain.weight} lbs.
    %h4 Hops
    %table.table.table-striped
      - @recipe.hops.each do |hop|
        %tr
          %td= hop.name
          %td= hop.weight
          %td= hop.boil_time
    %h4 Notes
    %p #{@recipe.notes}
